<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="/assets/imgs/theme/willink-watches-logo (2).png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Willink Watches</title>

	<!--
            CSS
            ============================================= -->
	<link rel="stylesheet" href="/user-assets/css/linearicons.css">
	<link rel="stylesheet" href="/user-assets/css/owl.carousel.css">
	<link rel="stylesheet" href="/user-assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="/user-assets/css/themify-icons.css">
	<link rel="stylesheet" href="/user-assets/css/nice-select.css">
	<link rel="stylesheet" href="/user-assets/css/nouislider.min.css">
	<link rel="stylesheet" href="/user-assets/css/bootstrap.css">
	<link rel="stylesheet" href="/user-assets/css/main.css">
	<!-- Option 1: Include in HTML -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<style>
		/* Custom CSS for the filter dropdown */

		.filter-link a {
			color: #000000;
			/* Change this color to your preferred color */
			text-decoration: none;
			transition: color 0.5s ease-in-out;
		}

		.filter-link a:hover {
			color: #ffba00;
			/* Change this color to the desired hover color */
		}

		.filter-icon {
			font-size: 18px;
			margin-right: 5px;
		}

		.filter-options {
			font-size: 14px;
		}

		.card {
			transition: transform 0.3s ease;
		}

		.card:hover {
			transform: scale(1.05);
		}
	</style>
</head>

<body id="category">

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box"
				style="border-radius: 25px; background-color: #f1f0f0;">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="/home">
						<div class="" style="height: 80px;">
							<img src="/assets/imgs/theme/willink-watches-logo (2).png"
								style="height: 80px; width: 100%; object-fit: cover;" alt="">
						</div>
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav d-flex align-items-center  menu_nav ml-auto">
							<li class="nav-item active"><a href="/home" class="profile-icon nav-link"><span
										style="font-size: 22px; width: 30px; height: 30px; color: rgb(0, 0, 0);"
										class="bi bi-house"></span></a></li>
							<li class="nav-item"><a href="/show-all-products" class="profile-icon nav-link"><span
										style="font-size: 22px; width: 30px; height: 30px; color: rgb(219, 160, 8);"
										class="bi bi-shop"></span></a></li>
							<li class="nav-item"><a href="/user-profile" class="profile-icon nav-link"><span
										style="font-size: 22px; width: 30px; height: 30px; color: black;"
										class="bi bi-person"></span></a></li>
							<li class="nav-item"><a href="/cart" class="profile-icon nav-link"><span
										style="font-size: 20px; width: 30px; height: 30px; color: black;"
										class="bi bi-cart"></span></a></li>
							<li class="nav-item"><a href="/whishlist" class="profile-icon nav-link"><span
										style="font-size: 20px; width: 30px; height: 30px; color: black;"
										class="bi bi-heart"></span></a></li>
							<li class="nav-item">
								<a class="search"><span
										style="font-size: 20px; width: 30px; height: 30px; color: black; margin-right: 45px;"
										class="bi bi-search" id="search"></span></a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form method="post" class="d-flex justify-content-between">
					<input name="regex" type="text" class="form-control" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section>
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<h1 class="text-center">SHOP</h1>
			<!-- Add this line -->
		</div>
	</section>

	<!-- End Banner Area -->
	<div class="container">
		<div class="d-flex justify-content-end filter-link">
			<ul>
				<li class="nav-item dropdown submenu">
					<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">
						<i class="fas fa-filter"></i> PRICE
					</a>
					<ul class="dropdown-menu">
						<li class="nav-item"><a class="nav-link filter-options " href="/price-wise-sort/?from=1">LOW TO
								HIGH</a>
						<li class="nav-item"><a class="nav-link filter-options " href="/price-wise-sort/?from=2">HIGH TO
								LOW</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul>
				<li class="nav-item dropdown submenu">
					<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">
						<i class="fas fa-filter"></i> CATEGORY
					</a>
					<ul class="dropdown-menu">
						<li class="nav-item"><a class="nav-link filter-options " href="/show-all-products">ALL PRODUCTS</a>
						</li>
						<% for( let i=0; i < categories.length; i++ ) { %>
							<li class="nav-item"><a class="nav-link filter-options"
									href="/filter-products/?id=<%- categories[i]._id %>"><%- categories[i].categoryName %></a>
							</li>
							<% } %>

					</ul>
				</li>
			</ul>

		</div>
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-7 col-12">
				<!-- Start Best Seller -->
				<section class="lattest-product-area pb-40 category-list">
					<div class="row">
						<!-- single product -->
						<% if (products.length>0) { %>
							<% for( let i=0; i < products.length; i++ ) { %>
								<div class="col-lg-3 col-md-6 d-flex justify-content-center">
									<a href="/single-product/?id=<%- products[i]._id %>">
										<div class="card single-product text-center shadow ">
											<img class="img-fluid" style="height: 300px; width: 300px; object-fit: contain;"
												src="/assets/imgs/products/<%- products[i].images[0] %>" alt="">
											<div class="product-details">
												<h6><%- products[i].productName %></h6>
												<div class="price">
													<h6> &#x20B9;<%- products[i].salePrice %></h6>
													<h6 class="l-through"> &#x20B9;<%- products[i].regularPrice %></h6>
												</div>
												<% if (products[i].stock===0) { %>
													<div class="outof-stock">
														<p class="text-danger" style="margin-bottom: 0px;">Out of Stock</p>
													</div>
													<div class="prd-bottom" style="margin-top: 0px;">
														<a type="button" href="" data-productId="<%-products[i]._id  %>"
															class="social-info addtoWhishlist">
															<span class="bi bi-heart"></span>
														</a>
														<a href="/single-product/?id=<%- products[i]._id %>" class="social-info">
															<span class="lnr lnr-move"></span>
														</a>
													</div>
													<% }else{ %>
														<div class="prd-bottom">
															<a type="button" href="" data-productId="<%-products[i]._id  %>"
																class="social-info addToCart">
																<span class="bi bi-cart"></span>
															</a>
															<a type="button" href="" data-productId="<%-products[i]._id  %>"
																class="social-info addtoWhishlist">
																<span class="bi bi-heart"></span>
															</a>
															<a href="/single-product/?id=<%- products[i]._id %>" class="social-info">
																<span class="lnr lnr-move"></span>
															</a>
														</div>
														<% } %>


											</div>
										</div>
									</a>
								</div>
								<% } %>

									<% }else{ %>
										<div class="col-lg-12">
											<div class="d-flex justify-content-center align-items-center" style="height: 300px;">
												<h1>No Products Found</h1>
											</div>
										</div>
										<% } %>

				</section>


			</div>
		</div>
	</div>

	<!-- Start related-product Area -->

	<!-- start footer Area -->

	<!-- End footer Area -->

	<!-- Modal Quick Product View -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="container relative">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="product-quick-view">
					<div class="row align-items-center">
						<div class="col-lg-6">
							<div class="quick-view-carousel">
								<div class="item" style="background: url(img/organic-food/q1.jpg);">

								</div>
								<div class="item" style="background: url(img/organic-food/q1.jpg);">

								</div>
								<div class="item" style="background: url(img/organic-food/q1.jpg);">

								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="quick-view-content">
								<div class="top">
									<h3 class="head">Mill Oil 1000W Heater, White</h3>
									<div class="price d-flex align-items-center"><span class="lnr lnr-tag"></span> <span
											class="ml-10">$149.99</span></div>
									<div class="category">Category: <span>Household</span></div>
									<div class="available">Availibility: <span>In Stock</span></div>
								</div>
								<div class="middle">
									<p class="content">Mill Oil is an innovative oil filled radiator with the most modern
										technology. If you are
										looking for something that can make your interior look awesome, and at the same time give
										you the pleasant
										warm feeling during the winter.</p>
									<a href="#" class="view-full">View full Details <span class="lnr lnr-arrow-right"></span></a>
								</div>
								<div class="bottom">
									<div class="color-picker d-flex align-items-center">Color:
										<span class="single-pick"></span>
										<span class="single-pick"></span>
										<span class="single-pick"></span>
										<span class="single-pick"></span>
										<span class="single-pick"></span>
									</div>
									<div class="quantity-container d-flex align-items-center mt-15">
										Quantity:
										<input type="text" class="quantity-amount ml-15" value="1" />
										<div class="arrow-btn d-inline-flex flex-column">
											<button class="increase arrow" type="button" title="Increase Quantity"><span
													class="lnr lnr-chevron-up"></span></button>
											<button class="decrease arrow" type="button" title="Decrease Quantity"><span
													class="lnr lnr-chevron-down"></span></button>
										</div>

									</div>
									<div class="d-flex mt-20">
										<a href="#" class="view-btn color-2"><span>Add to Cart</span></a>
										<a href="#" class="like-btn"><span class="lnr lnr-layers"></span></a>
										<a href="#" class="like-btn"><span class="lnr lnr-heart"></span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="footer-area pt-5 pb-5" style="background-color: black;  border-radius: 20px 20px 0 0;">
		<div class="container">
			<div class="row  d-flex justify-content-between">
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>About Us</h6>
						<p>
							Welcome to Willink Watches, where time meets elegance. We are dedicated to providing you with
							exquisite timepieces that blend craftsmanship, style, and precision.

						</p>
					</div>
				</div>
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Contact Us</h6>
						<p>Have a question or need assistance? Don't hesitate to reach out. We're here to help.</p>
						<div class="" id="mc_embed_signup">
							<p style="margin-bottom: 0px; cursor: pointer;"><span>Email : info@willinkwatches.com</span></p>
							<p style="margin-top: 0px; cursor: pointer;"> <span>Phone : +91 987654321</span></p>

						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Follow Us</h6>
						<p>Stay updated with our latest arrivals, promotions, and news by following us on social media.</p>
						<div class="footer-social d-flex align-items-center">
							<a href="#"><i class="fa fa-instagram"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<a href="#"><i class="fa fa-github"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
				<p class="footer-text m-0">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;
					<script>document.write(new Date().getFullYear());</script> Willink Watches | All rights reserved
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
			</div>
		</div>
	</footer>

	<!-- Add to cart Script -->
	<script>
		const addToCartButtons = document.querySelectorAll('.addToCart');

		addToCartButtons.forEach(button => {
			button.addEventListener('click', async (event) => {
				event.preventDefault();

				const productId = event.currentTarget.getAttribute('data-productId'); // Get data-id attribute
				console.log(productId)
				const response = await fetch(`/add-to-cart/?productId=${productId}`);
				const result = await response.json();
				if (result.status === 'success') {
					Swal.fire({
						icon: 'success',
						title: result.message,
						showConfirmButton: false,
						timer: 1500
					})
				} else if (result.status === 'sessionError') {
					Swal.fire({
						icon: 'info',
						title: result.message,
						showConfirmButton: false,
						timer: 1000
					})
					setTimeout(() => {
						location.href = '/login'
					}, 1500);
				}
				else {
					Swal.fire({
						icon: 'error',
						title: result.message,
						showConfirmButton: false,
						timer: 1500
					})
				}
			});
		});

	</script>

	<!-- Add to whishlist Script -->

	<script>
		const addtoWhishlistBtn = document.querySelectorAll('.addtoWhishlist')

		addtoWhishlistBtn.forEach((btn) => {
			btn.addEventListener('click', async (event) => {
				event.preventDefault();

				const productId = event.currentTarget.getAttribute('data-productId')

				if (productId) {
					const response = await fetch(`/add-to-whishlist/?productId=${productId}`);
					const result = await response.json()
					const icon = btn.querySelector('span.bi');
					if (result.status === 'success') {
						Swal.fire({
							icon: 'success',
							title: result.message,
							showConfirmButton: false,
							timer: 1000
						})
						icon.classList.remove('bi-heart');
						icon.classList.add('bi-heart-fill');
						icon.style.color = 'red'

					} else if (result.status === 'sessionError') {
						Swal.fire({
							icon: 'info',
							title: result.message,
							showConfirmButton: false,
							timer: 1000
						})
						setTimeout(() => {
							location.href = '/login'
						}, 1500);
					} else {
						Swal.fire({
							icon: 'info',
							title: result.message,
							showConfirmButton: false,
							timer: 1000
						})
						icon.classList.remove('bi-heart');
						icon.classList.add('bi-heart-fill');
						icon.style.color = 'red'
					}
				}
			})
		})
	</script>


	<script src="/user-assets/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
		integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
		crossorigin="anonymous"></script>
	<script src="/user-assets/js/vendor/bootstrap.min.js"></script>
	<script src="/user-assets/js/jquery.ajaxchimp.min.js"></script>
	<script src="/user-assets/js/jquery.nice-select.min.js"></script>
	<script src="/user-assets/js/jquery.sticky.js"></script>
	<script src="/user-assets/js/nouislider.min.js"></script>
	<script src="/user-assets/js/jquery.magnific-popup.min.js"></script>
	<script src="/user-assets/js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="/user-assets/js/gmaps.min.js"></script>
	<script src="/user-assets/js/main.js"></script>
</body>

</html>